@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #6140E5;
	--red: #FC836D;
	--green: #1DC37E;
	--light-green: #C8F8E4;
	--font-family: 'Noto Sans', sans-serif;
	--light-grey: #EBEBEB;
	--color-text: #3B434E;
	--color-background: #EBEBEB;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[data-theme='dark'] {
	--color-text: white;
	--color-background: #3B434E;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	transition: color 0.5s ease, background-color 0.5s ease;
}