.wrapper {
	display: grid;
	grid-template: ". header header ." auto ". sidebar body ." 1fr "footer footer footer footer" auto / auto 230px minmax(320px, 1200px) auto;

	min-height: 96vh;
	gap: 0 30px;
}

.sidebar {
	grid-area: sidebar;
}

.header {
	grid-area: header;
	display: none;
}

.body {
	grid-area: body;
}

.footer {
	grid-area: footer;
}

.top_menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
}

@media (width <=765px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
	}

	.sidebar {
		display: none;
	}

	.header {
		display: block;
	}
}